body {
    background-color: gray;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    position: absolute;
    height: 10%;
    background-color: darkgoldenrod;
    width: 100%;
    justify-content: center;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
    top: 10%;
}

#play-area {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 100%;
}

button {
    position: absolute;
}

#bounds {
    background-color: black;
    display: flex;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 5%;
}

#bounds div {
    background-color: green;
    height: 100%;
    width: 33%;
    border: 1px solid black;
    border-radius: 20px;
}

#spawn-area {
    top: 0;
    width: 1px;
    height: 1px;
    margin: auto;
}

#score-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding-right: 20px;
}

/* Info for the score divs*/
.holder { 
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 175px;
    border: 8px double black;
    border-radius: 20px;
}
#score-info h3 {
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 10px;
}

#score-info h4 {
    position: absolute;
    top: auto;
    font-weight: bold;
    font-size: 3rem;
}

#high-scores-container {
    font-size: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 15%;
    height: 100%;
}

#high-scores-container span {
    color: darkgreen;
}

#high-scores-container h4 {
    text-decoration: underline;
    margin-bottom: 0;
}

#high-scores-container section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#play-area span {
    font-family: monospace;
    top: 0;
    display: inline;
    position: absolute;
    font-size: 3rem;
}


/* animations */

.moving-down {
    animation-name: down;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.moving-down-2{
    animation-name: down, side;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.moving-down-3 {
    animation: down 3s, rotate 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes down {
    from {top: 0%;}
    to {top: 100%;}
}

@keyframes side {
    from {left: 20%}
    50% {left: 80%;}
    to {left: 20%;}
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* For getting rid of visualizer of life when player misses */
.vaporize {
    animation-name: vaporize;
    animation-duration: 150ms;
}


@keyframes vaporize {
    from {
        opacity: 100%;
        background-color: green;
        
    }
    to {
        opacity: 0%;
        background-color: red;
    }
}

/* Adds pizazz to the round number when player reaches next round */
.fading {
    animation-name: fade;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

@keyframes fade {
    from {
        opacity: 100%;
        transform: scale(1);
    }
    to {
        opacity: 0%;
        transform: scale(2);
    }
}

.explode {
    position: absolute;
    left: 0;
    top: 200px;
    animation-name: explode;
    animation-duration: 100ms;
    animation-timing-function: linear;
}

@keyframes explode {
    from {
        opacity: 100%;
        transform: scale(1);
    }
    to {
        opacity: 0%;
        transform: scale(2);
    }
}