body {
    background-size: cover;
    background-color: gray;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cover-page {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#page-1 {
    z-index: 20;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#page-1 img {
    height: 75%;
    animation: fade-in 2s;
}

#page-2 {
    z-index: 19;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-2 section {
    background-color: lightgray;
    padding: 20px;
    border: 15px double green;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 75vh;
    font-size: 2.2vh;
}

#page-2 section p {
    margin: 15px;
}

header {
    color: yellow;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    height: 10%;
    background-color: darkgoldenrod;
    background-image: url("Resources/Images/Header_Background.png");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url("Resources/Images/Web_Background_2.png");
    background-size: contain;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    top: 10%;
}
#start-screen {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#start-screen p {
    font-weight: bold;
    font-size: 1.5rem;

}

#play-area {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 90%;
}

#end-screen {
    background-color: brown;
    background-size: contain;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#end-screen p {
    display: inline;
}

#end-screen img {
    width: 50%;
    height: 25%;
}

button {
    transform: scale(1.5);
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: yellow;
    transform: scale(2.0);
}

#bounds {
    background-color: black;
    display: flex;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 5%;
}

#bounds div {
    /* background-color: green; */
    background-image: url("Resources/Images/Brain_Pattern.png");
    background-size: cover;
    height: 100%;
    width: 33%;
    border: 1px solid black;
    border-radius: 20px;
}

#spawn-area {
    top: 0;
    width: 1px;
    height: 1px;
    margin: auto;
}

.book-1 {
    position: absolute;
    top: 0;
    width: 10%;
    height: 10%;
}

.book-2 {
    position: absolute;
    top: 0;
    right: 20%;
    width: 10%;
    height: 10%;
}

.book-3 {
    position: absolute;
    top: 0;
    left: 20%;
    width: 10%;
    height: 10%;
}

#score-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 90%;
    padding-right: 20px;
}

/* Info for the score divs*/
.holder { 
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 175px;
    border: 8px double black;
    border-radius: 20px;
}
#score-info h3 {
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 10px;
}

#score-info h4 {
    position: absolute;
    top: auto;
    font-weight: bold;
    font-size: 3rem;
}

#high-scores-container {
    font-size: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 15%;
    height: 90%;
}

#high-scores-container span {
    color: darkgreen;
}

#high-scores-container h4 {
    text-decoration: underline;
    margin-bottom: 0;
}

#high-scores-container section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#play-area span {
    font-family: monospace;
    top: 0;
    display: inline;
    position: absolute;
    font-size: 3rem;
}


/* animations */

.moving-down {
    animation-name: down;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.moving-down-2{
    animation-name: down, side;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.moving-down-2-2{
    animation-name: down, side2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.moving-down-3 {
    animation: down 3s, rotate 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes down {
    from {top: 0%;}
    to {top: 100%;}
}

@keyframes side {
    from {left: 20%}
    50% {left: 80%;}
    to {left: 20%;}
}

@keyframes side2 {
    from {right: 20%}
    50% {right: 80%;}
    to {right: 20%;}
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* For getting rid of visualizer of life when player misses */
.vaporize {
    animation-name: vaporize;
    animation-duration: 150ms;
}


@keyframes vaporize {
    from {
        opacity: 100%;
        background-color: green;
        
    }
    to {
        opacity: 0%;
        background-color: red;
    }
}

/* Adds pizazz to the round number when player reaches next round */
.fading {
    animation-name: fade;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-play-state: paused;
}

@keyframes fade {
    from {
        /* opacity: 100%; */
        transform: scale(1);
    }
    to {
        /* opacity: 0%; */
        transform: scale(2);
    }
}

.explode {
    position: absolute;
    left: 0;
    top: 200px;
    animation-name: explode;
    animation-duration: 100ms;
    animation-timing-function: linear;
}

@keyframes explode {
    from {
        opacity: 100%;
        transform: scale(1);
    }
    to {
        opacity: 0%;
        transform: scale(2);
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}