body {
    background-color: gray;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#play-area {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    height: 70%;
}

button {
    position: absolute;
}

#bounds {
    background-color: red;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 5%;
}

/* Might be unnecessary */
#spawn-area {
    top: 0;
    width: 1px;
    height: 1px;
    margin: auto;
}

#score-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 10%;
    border: 1px solid black;
    height: 70%;
}

.holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
#score-info h3 {
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 10px;
}

#score-info h4 {
    position: absolute;
    top: auto;
    font-weight: bold;
    font-size: 3rem;
}

#high-scores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
    border: 1px solid black;
    width: 15%;
    height: 70%;
}


#play-area span {
    top: 0;
    display: inline;
    position: absolute;
    font-size: 3rem;
}


/* animations */

.moving-down {
    animation-name: down;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes down {
    from {top: 0%;}
    to {top: 100%;}
}