body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#play-area {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    border: 1px solid black;
    width: 40%;
    height: 70%;
}

/* Might be unnecessary */
#spawn-area {
    top: 0;
    width: 1px;
    height: 1px;
    margin: auto;
}

#score-display {
    position: relative;
    border: 1px solid black;
    top: 10%;
    width: 200px;
    height: 300px;
}
#play-area span {
    top: 0;
    display: inline;
    position: absolute;
    font-size: 3rem;
}


/* animations */
/* .move-down {

} */

.moving-down {
    animation-name: down;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes down {
    from {top: 0%;}
    to {top: 100%;}
}